body {
    font-family: 'Montserrat', sans-serif;
    color: #EFEFEF;
    background-color: #222222;
    background-image: none;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    overflow-y: scroll;
}

.title {
    color: #EFEFEF;
    text-align: center;
    margin-top: 25px;
}

.responsive {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.button {
    color: black;
    border: none;
    width: 80%;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 8px 0px;
    cursor: pointer;
  }

.button:hover {
    background-color: #333;
    color: white;
}

.anarchy {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
  }

.anarchy:hover {
    background-color: #f44336;
    color: white;
}
