<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/shelfie.css" />
    <title>Shelfie</title>
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>