{% extends "base.html" %}

{% block body %}
<h1 class="title">Shelfie</h1>
    <form target="/" method="post" enctype="multipart/form-data">
    <input class="button anarchy" type="file" name="file"/>
    <input class="button" type="submit" value="Submit"></button>
</form>
{% endblock body %}
