{% extends "base.html" %}

{% block meta %}
<meta property="og:type" content="article">
<meta property="og:title" content="View picture - Shelfie">
<meta property="og:url " content="https://{{ app_domain }}/id/{{ id }}">
<meta property="og:image" content="https://{{ app_domain }}/images/{{ id }}">
{% endblock meta %}

{% block body %}
<style>
.picture {
	background-image: url("/images/{{ id }}");
}
</style>

<div class="picture-background picture"></div>
<div class="picture-container">
	<img src="/images/{{ id }}">
</div>
{% endblock body %}
